/*box-sizing fix*/
/*html {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

canvas{
  position: relative;
  margin: 0 auto;
}



/*ipad landscape */
/*@media only screen and (max-width: 960px) {

}
*/
/* ipad portrait */
/*@media only screen and (max-width: 640px) {

}*/

/* 480px iphone landscape */
/*@media only screen and (max-width: 480px) {

}
*/

/* 320 px, iphone portrait */
/*@media only screen and (max-width: 320px) {

}
*/
